body{
    background: azure;
}

header{
    height: 15vh;
    border: 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media (min-width: 576px) {
    header{
        height: 30vh;
        width: 100%;
    }
}

#logo{
    height: 100%;
    padding: 0%;
    margin: 0;
    display: flex;
    align-items: center;
    background: white;
}

#logo img{
    width: 100%;
    border-top-left-radius: 15px;
    height: auto;
}

#bannerprincipal{
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0%;
}

#bannerprincipal img{
    width: 100%;
    border-top-right-radius: 15px;
}

nav{
    margin-left: -15px;
    margin-right: 15px;
}

#container {
    min-height: 800px;
}

#content {
    background: antiquewhite;
    padding: 0%;
}

section{
    width: 100%;
    padding: 0%;
}

iframe.principal {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    overflow-y: hidden;
    min-height: 800px;
}

.video {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.vid {
    /*width: 100%;
    display: flex;*/
}

.horario {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.horario-practica {
    /*width: 100%;
    display: flex;*/
}

#bannerpublicitario{
    padding-right: 30px;
}

#bannerpublicitario img{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
   
}

footer{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 80px;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(70, 114, 3);
    display: flex;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-text{
    display: flex;
    text-align: center;
    color: white;
}

#map{
        width: 100%;
        height: 890px;
        display: flex;
        justify-content: center;
        padding-top: 200px;
    }

